<%= form_with(model: click, local: true) do |form| %>
  <% if click.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(click.errors.count, "error") %> prohibited this click from being saved:</h2>

      <ul>
      <% click.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ip_address %>
    <%= form.text_field :ip_address, id: :click_ip_address %>
  </div>

  <div class="field">
    <%= form.label :link_id %>
    <%= form.text_field :link_id, id: :click_link_id %>
  </div>

  <div class="field">
    <%= form.label :referer %>
    <%= form.text_field :referer, id: :click_referer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
