<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @link.url %>
</p>

<p>
  <strong>Code:</strong>
  <%= @link.code %>
</p>

<% if @link.clicks.present? %>
<div>
    <header>Click History (<%= @link.clicks.count %>)</header>
    <ul>
      <% @link.clicks.each do |c| %>
        <li><%= "#{c.ip_address} #{c.created_at}" %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
